name: Tests

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        deps: ["min", "latest"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      # ------ MINIMUM DEPENDENCIES FROM pyproject.toml ------
      - name: Install minimum + test + optional deps
        if: matrix.deps == 'min'
        run: |
          pip install .[all]

      # ------ LATEST DEPENDENCIES FROM requirements.txt ------
      - name: Install latest + test + optional deps
        if: matrix.deps == 'latest'
        run: |
          pip install -r requirements.txt
          pip install .[all]

      - name: Run tests
        run: pytest -v